
.todolist{
    background-color:#FFF;
    padding:20px 20px 10px 20px;
    margin-top:30px;
}
.todolist-done{
    background-color:#FFF;
    padding:20px 20px 10px 20px;
    margin-top:30px;
}
h1{
    background-color:#F4FCE8;   
    margin:2;
    text-align:center;
}


.todo-footer{
    background-color:#F4FCE8;   
    margin:0 -20px -10px -20px;
    padding: 10px 20px;
}
button{
    
    text-align: center;
}

// #done-items li{
//     padding:10px 0;
//     border-bottom:1px solid #ddd;
//     text-decoration:line-through;
// }
// #done-items li:last-child{
//     border-bottom:none;
// }
