
.todolist{
    background-color:#FFF;
    padding:20px 20px 10px 20px;
    margin-top:30px;
}
.todolist-done{
    background-color:#FFF;
    padding:20px 20px 10px 20px;
    margin-top:30px;
}
h3{
    background-color:#F4FCE8;   
    margin:2;
    text-align:center;
}


.todo-footer{
    background-color:#F4FCE8;   
    margin:0 -20px -10px -20px;
    padding: 10px 20px;
    
}
button{
    text-align: center;
    &:focus {
        outline: none !important; 
    }
}

.error_msg {
    color: red;
}
.table td, .table th {
     padding: 0 !important;
     height: 2px !important;
     font-size: 12px;   
}


.checkBox{
    >span {
        > svg {
            width: 15px !important;
            height: 18px !important;
            
        }
    }
    
}
.delete_btn{
    
    padding: 5px !important;
}