.todo-table{
		>tbody{
			>.todo-row{
				&:hover{
					background-color:honeydew;
				}
				>.tod-cell{
					padding: 0px !important;
					height: 10px !important;
					font-size: 18px;
					font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
				}
			}
		}
	}
.checkBox{
		>span{
			> svg{
				width: 15px !important;
				height: 18px !important;
			}		
		}
	}
.delete-btn{
		float: right;
		padding: 5px !important;
}